.profile__info {
  width: 336px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
  margin: 22px 0 25px 30px;
}

@media screen and (max-width: 900px) {
  .profile__info {
    align-items: center;
    max-width: 282px;
    margin: 26px 0 0 0;
    gap: 2px;
  }
}
