.popup__save-button {
  color: #fff;
  background-color: #000;
  margin-top: 13px;
  height: 50px;
  border: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.popup__save-button:hover {
  opacity: 0.8;
}

.popup__save-button:disabled {
  opacity: 0.2;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

@media screen and (max-width: 425px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
    height: 46px;
  }
}
