.register__button {
  width: inherit;
  color: #000;
  background-color: #fff;
  margin-top: 216px;
  height: 50px;
  border: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
